<!DOCTYPE html>
<html>
<head>
    <title>Nested Composite Views</title>
</head>
<body>

    My Feed

    <div id="content"></div>

    <script src="backbone.marionette/underscore.js"></script>
    <script src="backbone.marionette/jquery.js"></script>
    <script src="backbone.marionette/backbone.js"></script>
    <script src="backbone.marionette/backbone.marionette.js"></script>

    <script id="comment-template" type="text/template">
        <%= content %>
        <button class="add-child">Add child</button>
        <button class="remove">Remove</button>
    </script>

    <script id="comment-leaf-template" type="text/template">
        Leaf: <%= content %>
    </script>

    <script id="article-template" type="text/template">
      <h1><%= title %></h1>
      <div id="article-content"></div>
    </script>

<script>

// Lots of tips from an old, obsolete example:
// http://stackoverflow.com/questions/13575101/how-to-handle-nested-compositeview-using-backbone-marionette

  var Comment = Backbone.Model.extend({
    initialize: function() {
      var comments = this.get("comments");
      // alert('Comments ' + comments);

      if (comments) {
        console.log("Comments", comments);
        this.comments = new CommentCollection(comments);
        this.unset("comments"); // TODO: why is this necessary?
      }
      else {
        console.log("Leaf node", this.get("content"));
      }
    }
  });

  var CommentCollection = Backbone.Collection.extend({
    model: Comment
  });

  var commentTree = [{
    content: 'Level A',
    comments: [
      { content: 'Level A.1', comments: []},
      { content: 'Level A.2', comments: []},
      { content: 'Level A.3', comments: []}
    ]    
  }, {
    content: 'Level B',
    comments: [
      { content: 'Level B.1', comments: []},
      { content: 'Level B.1', comments: []},
      { content: 'Level B.1', comments: []}
    ]
  }, {
    content: 'Level C',
    comments: [
      { content: 'Level C.1', comments: []},
      { content: 'Level C.1', comments: []},
      { content: 'Level C.1',
        comments: [
          {content: 'Level D.3 A', comments: []},
          {content: 'Level D.3 B', comments: []},
          {content: 'Level D.3 C', comments: []}
        ]
      }
    ]
  }];

  var comments = new CommentCollection(commentTree);
  // console.log(comments);

  var newCommentCount = 0;

  var CommentView = Marionette.CompositeView.extend({
    template: '#comment-template',

    ui: {
      add: 'button.add-child',
      remove: 'button.remove'
    },

    events: {
      'click @ui.add': 'addComment',
      'click @ui.remove': 'removeComment',
    },

    addComment: function() {

      // if (!this.collection) {
      //   alert("Adding a new tree!"); // How to add a new subtree 1?
      //   this.collection = new CommentCollection();
      // }
      // else{
      //   alert("Adding new comment");
      // }

      if (this.collection) {
        var comment = new Comment({
          content: 'New Content ' + newCommentCount,
          comments: []
        });
        this.collection.add(comment);
        newCommentCount++;        
      }
      return false;
    },

    removeComment: function() {
      console.log(this.model);
      // alert('remove comment');
      this.model.destroy();
      return false;
    },

    tagName: function() {
      var isLeaf = !this.model.comments;
      if (isLeaf) {
        return 'li';
      }
      else {
        return 'ul';
      }
    },

    initialize: function() {
      // alert("CommentView init()");
      this.collection = this.model.comments;
    }
  });

  var ArticleView = Marionette.CompositeView.extend({
    template: '#article-template',
    childView: CommentView
  });

  var article = new ArticleView({
    el: '#content',
    childViewContainer: '#article-content',
    collection: comments,
    model: new Backbone.Model({
      title: "Hello world"
    })
  });

  article.render();


</script>

</body>
</html>